.about-intro{
    display: flex;
    padding-right: 90px;
    padding-top: 50px;
}

.about-intro-description{
    margin-left: 80px;
    padding-right: 200px;
}

.about-intro-picture{
    width: 800px;
    height: 300px;
    background-color: black;

}
.about-intro-picture img{
    width: 100%;
    height: 100%;
}
.about-quote{
    margin-top: 50px;
    display: flex;
    height: 470px;
}

.quote-container{
    background-color: #fe471d;
    width: 100%;
    color: black;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 100px;
    text-align: left;
}
.quote-container p{
    color: black;
    font-size: 30px;
}
.quote-container h2{
    margin-top: 60px;
    color: black;
}
.additional-description{
    padding-right: 90px;
    padding-left: 40px;
    width: 1200px;

}
.additional-description h1{
    text-align: right;
    color: #fe471d;
    margin-bottom: 20px;
}
.additional-description p{
    padding-left: 90px;
    text-align: right;
    font-size: 25px;
}

.about-skills-container{
    width: 100%;
    height: auto;
    padding-bottom: 70px;
    background-color: #262626;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.about-logos-container{
    margin-top: 30px;
    width: 80%;
    margin: auto;
    height: auto;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.about-logos-container a{
    color: grey;
}
.logo{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    display: block;
    transition: 0.2s ease-out 100ms;
    opacity: .3;
    position: absolute;
}
a{
    text-decoration: none;
}
#logoText{
    transition: 0.2s ease-out 100ms;

    font-size: 0px;
    color: grey;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    
}
.outer{
    height: 300px;
    width: 200px;
    position: relative;
}

.outer:hover .logo{
    opacity: 0;
}

.outer:hover #logoText{
    font-size: 50px;
}