.full-page-image{
    display: block;
    margin: auto;
    width: 80%;
}

.singleproj-data-container{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
    color: white;
}

.technical-details{
    width: 30%;
}
.technical-details h1{
    margin-bottom: 100px;
}
.technical-details p{
    font-size: 25px;
    margin-bottom: 20px;
}

.line{
    height: 90%;
    width: 10%;
    width: 10px;
    background-color: white;
    margin-left: 50px;
}

.development-story{
    width: 50%;
}
.development-story h1{
    margin-bottom: 50px;
}
.development-story p{
    font-size: 25px;
}
.tech-details-buttons{
    margin-top: 80px;
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.tech-button{
    font-size: 30px;
    width: 40%;
}
#growOnHover{
    transition: all .4s ease-in-out;

}

#growOnHover:hover{
    transform: scale(1.3);

}
.tech-button{
    border-style: none;
    color: white;

}

.blackbutton{
    background: white;
    color: #262626;
}