.experiences-bg-container{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 150px;;
}
.other-works-container{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 150px;
}
.other-achievement{
    margin-bottom: 50px;
}
.title-container{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.experience-container{
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
}
.experience-container h5{
    font-weight: lighter;
    margin-top: 10px;
}

.experience-details {
    text-align: start;
    margin-left: 50px;
}
.experience-details h1{
    font-size: 40px;
}
.experience-details h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.experience-details ul{
    font-size: 20px;
    margin-left: 10px;
    list-style-type: circle;
}

.arrow{
    top:50%;
    position: absolute;
    animation: MoveUpDown 2s linear infinite;
}
@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }


  .experience-details a{
    color: black;
  }