.home-project-container{
    margin-top: 40px;
    width: 100%;
    height: 150px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    transition: 2s ease-out 400ms;

}
.home-project-container:hover  a{
    font-size: 20px;
    font-weight:300;

    background-color: white;

}
#moveOnHover{
    transition: 0.4s ease-out 100ms;

}
.home-project-container:hover  #moveOnHover{
    margin-left: 20px;

}
.home-project-container:hover  .image-hover-projects{
    opacity: 1;

}

.view-projects{
    height: 50px;
    width: 150px;
    margin-top: auto;
    color: black;
    font-size: 15px;
    text-decoration: none;
    transition: all .4s ease-in-out;
    border-radius: 30px;
    padding-top: 10px;
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;



}
.projects-intro{
    margin-left: 50px;
    margin-top: auto;
    text-align: left;
}
.project-title{
    margin-top: 0px;
    font-size: 30px;
}
.projects-intro h2{
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: lighter;
}
.image-hover-projects{
    width: 60%;
    height: 150px;
    transition: 0.4s ease-out 100ms;
    position: absolute;
    opacity: 0;

}
.image-hover-projects img{
    height: 100%;


}

.view-container{
    width: 50%;
    height: 150px;
}