.about-container{
    width: 100%;
    height: 600px;
}

.about-container h1{
    text-align: center;
    font-size: 45px;
    color: #FA4B4B;
}
.about-box{
    background-color: #FA4B4B;
    margin: auto;
    width: 85%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.about-description{
    flex: 70%;
    color: white;

}

.about-description h1{
    color: white;
    font-size: 30px;
}
.about-description p{
    color: white;
    font-size: 20px;
    text-align:center;
    margin: 0 70px;
}
.about-picture{
    width: 25%;
    text-align: right;
    margin: auto;
    margin-right: 20px;

    
}
.about-picture img{
    height: 350px;
    border-radius: 10px;
    align-self: center;
    justify-content: center;

}