.navbar{
    display: flex;
    flex-wrap: wrap;
    height: 75px;
    width: 100%;
    background-color: #FA4B4B;

}
.nav-logo{
    color: wheat;
    flex: 20%;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 100px;
}

.nav-options{
    flex: 50%;
    text-align: right;
    padding-right: 100px;
}
.nav-options li{
    display: inline;
    padding-left: 30px;
    line-height: 75px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif


}
.nav-options li a{

    text-decoration: none;
    color:white
}

.nav-options li a:hover{

    text-decoration: underline;
}

.nav-options ul{
    height: 75px;
    margin: 0;
    padding: 0;  
    padding-right: 20px;
    text-align: right;
    
}

.header-container{
    height: 400px;
    width: 100%;
    background-color: #FA4B4B;
    display: flex;
    flex-wrap: wrap;
}
  
.header-info{
    flex: 40%;
    text-align: left;
    padding-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-info h2{
    margin: 0;
    font-size: 30px;
    color: burlywood;
}
.header-info h1{
    margin: 0;
    font-size: 50px;
    color: wheat;
}

.myImage{
    height: 300px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 50px;
}