.projects-page{
    
}

.projects-page h1{
    text-align: center;
    color: #FA4B4B;
}

.project-single-container{
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: #FA4B4B;
    margin-top: 30px;
    color: white;
    display: flex;
}

.project-single-container h1{
    color: wheat;
}

.project-image img{
    height: 300px;
    width: 450px;
}

.project-info p{
    margin: 10px;
}

.codeLink{

    margin-left: 85%;
    color: #FA4B4B;
    background-color: aqua;
    border: 0px;
    border-radius: 3px;
    font-size: 20px;
    
}