.main-title-projects{
    margin-top: 100px;
    margin-bottom: 100px;
}

.projects-list{
    padding-top: 50px;
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 120px;
}

.dark-background{
    background-color: #262626;
}

.projects-projects-container{
    width: 100%;
    height: auto;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .main-title-projects{
        margin-top: 100px;
        margin-bottom: 100px;
    }

}