.home-intro-container{
    display: flex;
    height: 600px;
    width: 100%;
}

.home-intro-left{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.intro-text{
    margin-left: 80px;

    height: 70%;
    padding-top: 60px;

}
.intro-text h1{
    font-size: 45px;
}
.intro-text h3{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 100;
}
.intro-buttons{
    margin-top: 30px;
}
.intro-buttons button{
    margin-right: 20px;
    height: 50px;
    width: 100px;
    border-style: none;
    font-size: 20px;
    color: white;
}
.intro-connect{

    background-color: #2C2C2C;
    height: 30%;
    text-align: center;
    color: white;
    padding-right: 80px;
    padding-top: 20px;
}
.home-intro-right{

    background-color: #E79141;
    width: 40%;
}
.home-intro-right img{
    width: 90%;
    height: 90%;
    margin:30px 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.connect-icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.connect-icons a{
    margin:0 22px;
}
.gradient{
    background-color: red;

    background-image: linear-gradient(45deg, #de880f, #af3261);

    background-size: 100%;
    background-repeat: repeat;

    background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    font-weight: bold;
    
}
.orange{
    background-color: #E79141;

}
.grey{
    background-color: #2C2C2C;
}

.home-projects-container{
    width: 100%;
    height: 1000px;
    background-color: #2C2C2C;
    color: white;
    text-align: center;
    padding-top: 120px;
}
.home-projects-container h1{
    font-size: 50px;
}